$g_input_min_width: 150px;
$g_input_font_size_lg: 18px;
$g_input_font_size_md: 16px;
$g_input_font_size_sm: 13px;
$g_input_border_color: #cad1d4;
$g_select_row_bg_color_hover: #cde2f3;
$g_select_row_bg_color_checked: #7ba3c7;
$g_icon_size: 16px;
$g_error_color: #ff4d4f;
