@import '~shared/styles/const';

.control-group {
    padding: 15px 15px 5px;
    margin-bottom: 20px;
    border-radius: 10px;

    &_light {
        background-color: #ffffff;
    }

    &_bordered {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    &_dark {
        background-color: #f0f0f0;
    }

    h4 {
        font-size: 20px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}
