@import '~shared/styles/const'

.header
	background-color: $g_main_color
	border-bottom: 1px solid $g_main_color
	padding: 0 60px
	box-shadow: 0 2px 10px 1px #61b3fc
	z-index: 9
	position: relative
	max-width: 1920px
	height: 60px
	display: flex
	justify-content: space-between
	align-items: center

	img
		margin-left: 60px
